{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

    <h1>Projects</h1>

    <div class="project">
        <h2>Module 1: Personal Developer Website</h2>

        <p>
            This project is a personal developer website built using
            Python and Flask. The website includes information about me,
            my projects, and my contact information. It also provides
            links to my completed programming projects.
        </p>

        <p>
            <a href="https://github.com/ssayed3/jhu_software_concepts">
                View Project on GitHub
            </a>
        </p>
    </div>

{% endblock %}